body {
  BACKGROUND-COLOR: #FDEFEF;
}

hr {
  BORDER-COLOR: GREY;
  BORDER-STYLE: NONE;
  BORDER-TOP-STYLE: DOTTED;
  BORDER-WIDTH: 5PX;
  WIDTH: 5%;
}

.CIRCULAR{
  BORDER-RADIUS: 100%;
}
